.grid {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas: 
    "hangman hangman hangman"
    "winRecord theDude letterDisplay"
    "answersWrong theDude letterDisplay"
    ". characters .";
}

div:nth-child(odd){
background-color:lightblue;
}
div:nth-child(even){
    background-color: lightcoral;
}

.hangman {
    grid-area: hangman;
}

.theDude {
    grid-area: theDude;
}

.winRecord {
    grid-area: winRecord;
}

.answerswrong {
    grid-area: answersWrong;
}

.letterDisplay {
    grid-area: letterDisplay;
}

.characters {
    grid-area: characters;
}