.grid {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas: 
    "hangman hangman hangman"
    "winRecord theDude letterDisplay"
    "answersWrong theDude letterDisplay"
    ". characters .";
}

img {
    width: 500px;
}

div:nth-child(odd){
background-color:lightblue;
}
div:nth-child(even){
    background-color: lightcoral;
}

.hangman {
    grid-area: hangman;
    justify-self: center;
}

.theDude {
    grid-area: theDude;
    justify-self: center;
}

.winRecord {
    grid-area: winRecord;
    justify-self: center;
}

.answersWrong {
    grid-area: answersWrong;
    justify-self: center;
}

.letterDisplay {
    grid-area: letterDisplay;
    justify-self: center;
}

.buttonContainer {
    justify-self: center;
    display: table;
    width: 400px;
}

.characters {
    grid-area: characters;
    justify-self: center;
}
button {
width: 4em;
}

.A {
    display: inline;
}

.B {
    display: inline;
}

.C {
    display: inline;
}

.D {
    display: inline;
}

.E {
    display: inline;
}

.F {
    display: inline;
}

.G {
    display: inline;
}

.H {
    display: inline;
}


.I {
    display: inline;
}

.J {
    display: inline;
}

.K {
    display: inline;
}

.L {
    display: inline;
}

.M {
    display: inline;
}

.N {
    display: inline;
}

.O {
    display: inline;
}

.P {
    display: inline;
}

.Q {
    display: inline;
}

.R {
    display: inline;
}

.S {
    display: inline;
}

.T {
    display: inline;
}

.U {
    display: inline;
}

.V {
    display: inline;
}

.W {
    display: inline;
}

.X {
    display: inline;
}

.Y {
    display: inline;
}

.Z {
    display: inline;
}